/* Whole document: */
body{
  font-family: Helvetica;
  font-size: 30pt;
}
/* Headers */
h1,h2,h3,h4,h5,h6{
  font-size: 25pt;
}
/*body, td {
   font-size: 14px;
}*/
/*code.r{
  font-size: 40px;
}*/
pre {
  font-size: 16px
}

.dataTables_wrapper {
    font-family: tahoma;
    font-size: 13px;
    position: relative;
    clear: both;
    *zoom: 1;
    zoom: 1;
}